# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/temp-music-analysis
# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
*.mp4
*.mp3
*.wav
*.ogg
*.flac
*.aac

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore 3D models and textures
public/Carpet016_4K-PNG/
public/Wood004_4K-PNG/
public/models/